<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lguplus.medialog.project.board.BoardDao">

	<select id="selectBoardList"
		resultType="com.lguplus.medialog.project.board.Board">
		/* board-mapper.xml(selectBoardList) */
		
				<![CDATA[
		SELECT
			BOARD_ID, BOARD_USER, BOARD_NM, BOARD_CONTENT, BOARD_REG_DT,
			BOARD_MOD_DT, BOARD_DEL_DT, BOARD_VIEW, BOARD_COMMENT, BOARD_LIKES
		FROM
			BOARD
		ORDER BY
			BOARD_ID DESC
				]]>
	</select>

	<insert id="uploadBoard"
		parameterType="com.lguplus.medialog.project.board.Board" keyProperty="BOARD_ID">
		/* board-mapper.xml(uploadBoard) */
		INSERT INTO BOARD (
			BOARD_USER,
			BOARD_NM,
			BOARD_CONTENT,
			BOARD_REG_DT,
			BOARD_MOD_DT,
			BOARD_DEL_DT,
			BOARD_VIEW,
			BOARD_COMMENT,
			BOARD_LIKES
			) 
		VALUES (
				#{boardUser}, #{boardNm}, #{boardContent}, #{boardRegDt},
				NULL, NULL, '0', '0', '0'
		    )
	</insert>

		<select id="getBoardDetail"
		parameterType="Integer" resultType="com.lguplus.medialog.project.board.Board">
		/* board-mapper.xml(getBoardDetail) */
		
				<![CDATA[
		SELECT
			BOARD_ID, BOARD_USER, BOARD_NM, BOARD_CONTENT, BOARD_REG_DT,
			BOARD_MOD_DT, BOARD_DEL_DT, BOARD_VIEW, BOARD_COMMENT, BOARD_LIKES
		FROM
			BOARD
		WHERE
			${BoardId}
				]]>
	</select>


	<!-- <update id="increaseFailCount" parameterType="string"> /* authuser-mapper.xml(increaseFailCount) 
		*/ UPDATE USER SET LOGIN_FAIL_CNT = IFNULL(LOGIN_FAIL_CNT, 0) + 1 WHERE USER_ID 
		= #{userId} </update> / -->

</mapper>